* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Segoe_UI;
  src: url(../css/fonts/Segoe\ UI.woff);
}
@font-face {
  font-family: Segoe_UIBold;
  src: url(../css/fonts/Segoe\ UI\ Bold.woff);
}
nav {
  height: 80px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo #logoImage img {
  width: 73px;
  height: 73px;
  margin-left: 15px;
}
nav .logo .logoText {
  margin-left: 10px;
  font-size: 16px;
  font-family: Segoe_UI;
}
nav .searchBar {
  opacity: 35%;
  width: 604px;
  height: 34px;
  display: flex;
  background-color: #587C83;
}
nav .searchBar .font {
  padding: 10px;
}
nav .searchBar p {
  color: #000;
  padding: 5px;
  font-size: 16px;
  font-family: Segoe_UI;
}
nav .logoText {
  font-size: 16px;
}
nav .links a {
  color: #000;
  font-size: 16px;
  margin-right: 30px;
  font-family: Segoe_UI;
  text-decoration: none;
}
nav .links a i {
  font-weight: bold;
}

.descriptions {
  margin: 180px 0 66px 77px;
  font-size: 26px;
  font-family: Segoe_UIBold;
}

.bookPages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookPages .book {
  display: flex;
  margin-right: 50px;
}
.bookPages .book .bookImage {
  width: 100px;
  height: 100px;
  margin-left: 56px;
  margin-right: 34px;
}
.bookPages .book .bookImage img {
  width: 100%;
  height: 100%;
}
.bookPages .book .bookInfo .infoText {
  width: 280px;
  height: 105px;
}
.bookPages .book .bookInfo p {
  font-size: 16px;
  font-family: Segoe_UI;
}
.bookPages .book .bookInfo .price {
  font-size: 16px;
  font-family: Segoe_UIBold;
}
.bookPages .book .bookInfo button {
  width: 222px;
  height: 68px;
  font-size: 16px;
  margin-bottom: 38px;
  cursor: pointer;
  color: black;
  font-family: Segoe_UI;
  background-color: #fff;
  border: 2px solid #000;
}

.bookPagesTwo, .bookPagesThree {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookPagesTwo .book, .bookPagesThree .book {
  display: flex;
  margin-right: 50px;
}
.bookPagesTwo .book .bookImage, .bookPagesThree .book .bookImage {
  width: 100px;
  height: 211px;
  margin-left: 56px;
  margin-right: 34px;
}
.bookPagesTwo .book .bookImage img, .bookPagesThree .book .bookImage img {
  width: 100%;
  height: 100%;
}
.bookPagesTwo .book .bookInfo .infoText, .bookPagesThree .book .bookInfo .infoText {
  width: 280px;
  height: 105px;
}
.bookPagesTwo .book .bookInfo p, .bookPagesThree .book .bookInfo p {
  font-size: 16px;
  font-family: Segoe_UI;
}
.bookPagesTwo .book .bookInfo .price, .bookPagesThree .book .bookInfo .price {
  font-size: 16px;
  font-family: Segoe_UIBold;
}
.bookPagesTwo .book .bookInfo button, .bookPagesThree .book .bookInfo button {
  width: 222px;
  height: 68px;
  font-size: 16px;
  margin-bottom: 38px;
  cursor: pointer;
  color: black;
  font-family: Segoe_UI;
  background-color: #fff;
  border: 2px solid #000;
}

.bookPagesFour {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookPagesFour .book {
  display: flex;
  margin-right: 50px;
}
.bookPagesFour .book .bookImage {
  width: 115px;
  height: 200px;
  margin-left: 56px;
  margin-right: 34px;
}
.bookPagesFour .book .bookImage img {
  width: 100%;
  height: 100%;
}
.bookPagesFour .book .bookInfo .infoText {
  width: 250px;
  height: 105px;
}
.bookPagesFour .book .bookInfo p {
  font-size: 16px;
  font-family: Segoe_UI;
}
.bookPagesFour .book .bookInfo .price {
  font-size: 16px;
  font-family: Segoe_UIBold;
}
.bookPagesFour .book .bookInfo button {
  width: 222px;
  height: 68px;
  font-size: 16px;
  margin-bottom: 38px;
  cursor: pointer;
  color: black;
  font-family: Segoe_UI;
  background-color: #fff;
  border: 2px solid #000;
}

footer {
  height: 92px;
  background-color: #587C83;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer #footText {
  color: #fff;
  font-size: 16px;
  font-family: Segoe_UI;
}
footer #footLinks a {
  color: #fff;
  font-size: 16px;
  margin-right: 38px;
  text-decoration: none;
  font-family: Segoe_UI;
}

/*# sourceMappingURL=styles.css.map */
