.form.login{
    position: relative;
    float: center;
    left: 200px;
   padding-top: 300px;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
    position: relative;
    float: left;
    /* right: 400px; */
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
    width: 600px;
    position: relative;
    float: left;
    right: 174px;
   padding-top: 300px;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}