//PAGE DONE BY ZAYDEE

.blogHero {
    height: 463px;
    width: 1464px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    background-image: linear-gradient(
        rgba(88, 124, 131, 0.5),
        rgba(88, 124, 131, 0.5) ), url(../../images/blogs/book-club-hero.jpg);
    background-size: cover;

    h1 {
       top: 37%;
       bottom: 50%;
       left: 35%;
       color: #fff;
       font-size: 32px;
       font-family: Segoe_UIBold;
        position: absolute;
        text-align: center;
    }

    .heroText {
        top: 50%;
        bottom: 50%;
        left: 10%;
        color: #fff;
        font-size: 26px;
        width: 1117px;
        font-family: Segoe_UIBold;
         position: absolute;
         text-align: center;
    }
}

.blogTwoContent {
    display: flex;
    justify-content:space-between;
    margin-top: 105px;
    margin-left: 28px;
   
    .blog-two-paragraphs {
        width: 810px;
        height: 882px;
        .btwoinner {
            font-size: 16px;
            text-align: left;
            font-family: Segoe_UI;
        }
    }
}

@media (max-width: 800px) {

    .blogHero {
        margin-top: 150px;
        background-position: center;
        background-attachment: fixed;

        h1 {
           margin-left: -450px;
        }

        .heroText {
            margin-left: -50px;
            width: 250px;
        }
    }

    .blogTwoContent {
        flex-direction: column;
        margin-left: -50px;

        .blogTwoContent {

            .blog-two-paragraphs {
                width: 100%;
                .btwoinner {
                  
                }
                
            }
        }
    }
}